<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Eeducation is established in th year 2009, by the renowned educationist and philanthropist Mr.T.Ramesh,chairman of RMMS Group of Institutions. The University is approved by AICTE,New Delhi We provide world class infrastructure including the smart class rooms,digitalized environments, well equipped lab facilities AC class rooms,indoor/outdoor statidiums and auditoriums
    </p>
   

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>
