<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Placement Cell</h1>
        <p class="lead my-3">Department of Training & Placement aims to educate, advice and connect students to opportunities for their career growth in order to foster their intellectual, social, and personal transformations</p>
        <!--p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>-->
      </div>
    </div>
    <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Head of Placement
          </h3>
    
          <article class="blog-post">
            <h2 class="blog-post-title">Malar Selvi</h2>
            <!--p class="blog-post-meta">January 1, 2021 by <a href="#">Ma</a></p>-->
    
            <p>Being a post graduate in Business Administration, He is an expert in using his people skills and networking to design students career. Mr. Arun strongly believes that, getting a job is just a primitive stage and they have to scale greater heights and bring laurels to our brand, “Velammal” globally. His primary focus is on the learning and development of the students in various employability skills in addition to their academic curriculum.” He has consistently produced 90% placement in Velammal Group of Colleges, Chennai & Madurai and Improved the average salary to 4.20 LPA. More than 200+ students every year get more than 6.50 LPA</p>
            <hr>
            <h3>Placement Statistics</h3>
            <!--p>And don't forget about tables in these posts:</p>-->
            <table class="table">
              <thead>
                <tr>
                  <th>Particulars</th>
                 
                  <th>13-17</th>
                  <th>14-18</th>
                  <th>15-19</th>
                  <th>15-20</th>
                  <th>16-21</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>No. of Companies</td>
                  <td>143</td>
                  <td>258</td>
                  <td>245</td>
                  <td>145</td>
                  <td>145</td>
                  
                  
                  
                </tr>
                <tr>
                 <td>No. of Students Registered</td>
                  <td>654</td>
                  <td>670</td>
                  <td>695</td>
                  <td>624</td>
                  <td>624</td>
                </tr>
                <tr>
                <td>No. of Students Placed</td>
                  <td>544</td>
                  <td>536</td>
                  <td>626</td>
                  <td>550</td>
                  <td>550</td>
                </tr>
                 <tr>
                 <td>Placement Percentage</td>
                  <td>83.18</td>
                  <td>80.00</td>
                  <td>90.07</td>
                  <td>88.14</td>
                  <td>88.14</td>
                </tr>
              </tbody>
             
            </table>
            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary" href="#"></a>
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true"></a>
              </nav>
          
              <div class="follow text-center">
                <h4>Follow Us</h4>
                <a href="#">Facebook</a>
                <a href="#">Youtube</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
            </div>
            
          
         
