<section class="home">
    <img src="../../assets/back.jpg">
    
    <div class="homecontent">
    <h1>Start Learning For  Future bright</h1>
    <a routerLink="course" class="btn btn-lg btn-light">Discover Courses</a> &nbsp;
    <a routerLink="joinnow" class="btn btn-lg btn-primary">Join Now</a>
    </div>
</section>

<section class='course'>
    <h1>Courses we offer</h1>
    <p></p>
    <div class='row'>
    <div class='course-col'>
    <h3>Diploma</h3>
    <p><b>We offer diploma for student after their SSlC and even HSC.Maximum of 1year educational gap is acceptableStudents above 90% and sports person will get special offers  </b></p>
    </div>
    <div class='course-col'>
    <h3>Degree</h3>
    <p><b>We offer joining for the  students after completing HSC for admission.Maximum of 1year educational gap is acceptable.Students above 90% and sports person  will get special offers </b></p>
    </div>
    <div class='course-col'>
    <h3>Post-Graduate</h3>
    <p><b>We offer joining for the  students after completing BE/B-TECH for admission.Maximum of 1year educational gap is acceptable.Students above 90% and sports person  will get special offers</b></p>
    </div>
    </div>
    </section>
    <section class='campus'>
    <h1>Facilities available</h1>
    <p>We provide world class infrastructure including the smart class rooms,digitalized environments, well equipped lab facilities
        AC class rooms,indoor/outdoor statidiums and auditoriums</p>
    <div class='row'>
    <div class='campus-col'>
    <img src='../../assets/basketball.png'>
    <div class='layer'>
    <h3>Basktball Arena</h3>
    </div>
    </div>
    <div class='campus-col'>
    <img src='../../assets/library.png'>
    <div class='layer'>
    <h3>Library</h3>
    </div>
    </div>
    <div class='campus-col'>
    <img src='../../assets/cafeteria.png'>
    <div class='layer'>
    <h3>Cafeteria</h3>
    </div>
    </div>
    </div>
    </section>
    <h1 align="center"><a name="bottom">Contact Us</a></h1>
			<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> <a name="con">Contact us.</a>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name"><font color='black'>Name</font></label>
                            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
                        </div>
                        <div class="form-group">
                            <label for="email"><font color='black'>Email address</font></label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="message"><font color='black'>Message</font></label>
                            <textarea class="form-control" id="message" rows="6" required></textarea>
                        </div>
                        <div class="mx-auto">
                        <button type="submit" class="btn btn-primary text-right">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Our branches</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Chennai</a></li>
                    <li><a href="">Mumbai</a></li>
                    <li><a href="">Bangalore</a></li>
                    
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Activities</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Alumni meet</a></li>
                    <li><a href="">College Day</a></li>
                    <li><a href="">Inter college culturals</a></li>
                    <li><a href="">Sports meet</a></li>
                    <li><a href="">Intra Murals</a></li>
                    <li><a href="">Special Events</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i>Central mail</li>
                    <li><i class="fa fa-envelope mr-2"></i> rmms@gmail.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 91 8617185181</li>
                    <li><i class="fa fa-print mr-2"></i> + 91 9953773227</li>
                </ul>
            </div>
            <div class="col-12 copyright mt-3">
                <p class="float-left">
                    <a href="#">Back to top</a>
                </p>
                <p class="text-right text-muted">RMMS University<i class="fa fa-heart"></i><a href="https://t-php.fr/43-theme-ecommerce-bootstrap-4.html"><i></i></a> | <span>v. 1.0</span></p>
            </div>
        </div>
    
      